@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Kanit&display=swap');

:root {
    --dark: rgb(228, 228, 228);
}

html {
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-image: linear-gradient(to right top, #001578, #212c8e, #3744a5, #4b5bbb, #6074d2, #5988e3, #529bf2, #4eaeff, #1bbfff, #00d0ff, #00dfff, #00edff);

}

nav {
    margin: 0;
    padding: .5em;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(0, 0, 0);
    z-index: 9999;


    .content {
        

        .logo {
            margin: 0;
            display: flex;
            align-items: center;
            
            img {
                margin: 0;
                width: 55px;
                height: 55px;
                border-radius: 50%;
            }
    
            h3 {
                margin: 0 0 0 .5em;
                padding: 0;
                color: white;
                font-family: 'Kanit', sans-serif;
                font-size: 25px;
            }

            .links {
                margin: 0 auto;
                display: flex;
                
                ol {
                    margin: 0 12em 0 0;
                    padding: 0;

                    li {
                        margin: 0 2em;
                        padding: 0;
                        display: inline;
                        
                        a {
                            text-decoration: none;
                            color: white;
                            font-family: 'Kanit', sans-serif;
                            font-size: 19px;
                            position: relative;
                        }

                        a:hover {
                            color: rgb(215, 215, 215);
                        }

                        a::before {
                            content: "";
                            position: absolute;
                            left: 0;
                            right: 100%;
                            bottom: 0;
                            height: 3px;
                            background-color: #ffffff;
                            transition: right 0.5s ease;
                        }
                          
                        a:hover::before {
                            right: 0;
                        }
                    }
                }
            }
        }
    }
}

header {
    margin: 0;

    .welcome {
        margin: 3em 0 0 0;
        height: 100vh;

        h1 {
            margin: 0;
            padding: 3em 0 0 2em;
            font-family: 'Kanit', sans-serif;
            color: white;
            font-size: 75px;
        }

        p {
            margin: 0;
            padding: 0 0 0 6.5em;
            font-family: 'Kanit', sans-serif;
            color: rgb(178, 178, 178);
            font-size: 25px;
        }

        .learn_more {
            margin: 3em 22em;
            background-color: rgb(0, 237, 255);
            width: 250px;
            border-radius: 1em;
            transition: width ease-in-out 1s;

            p {
                margin: 0;
                padding: .5em 1em;
                text-align: center;
                color: black;
            }
        }
        .learn_more:hover {
            cursor: pointer;
            width: 400px;
        }
    }
}

.about_us {
    margin: 0;
    padding: 15em 0 0 0;

    .logo {
        margin: 3em 0 0 30em;
        width: 350px;
        height: 350px;
        border-radius: 50%;
    }

    .content {
        margin: 0 10em 0 0;
        padding: 0 0 0 0;
        width: 500px;
        position: absolute;
        text-align: center;
        right: 0;
        display: inline;

        h2 {
        
            font-family: 'Kanit', sans-serif;
            color: white;
            font-size: 45px;
        }
    
        p {
            font-family: 'Kanit', sans-serif;
            color: rgb(212, 212, 212);
            font-size: 18px;
        }
    
        .list {
            display: inline;
        }
    }
}

.products_overview {
    margin: 40em 0 0 0;
    padding: 6em 0 0 0;
    text-align: center;
    
    h2 {
        margin: 0;
        padding: 0;
        font-family: 'Kanit', sans-serif;
        font-size: 45px;
        color: white;
    }

    h3 {
        margin: 2em 0 0 5em;
        text-align: left;
        font-family: 'Kanit', sans-serif;
        font-size: 30px;
        color: white;
    }

    .products {
        margin: 0 5em 5em;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        align-content: center;

        .product {
            flex: 0 0 auto;
            margin: 2em 2em;
            padding: 1em;
            background: rgba(255, 255, 255, 0.25);
            border-radius: 16px;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(20px);
            -webkit-backdrop-filter: blur(20px);
            border: 1px solid rgba(233, 233, 233, 0.5);
            height: 500px;
            width: 300px;

            img {
                height: 125px;
                width: 125px;
            }

            h3 {
                margin: 1em 0 0 0;
                font-family: 'Kanit', sans-serif;
                font-size: 25px;
                text-align: center;
                color: black;
            }

            p {
                font-family: 'Kanit', sans-serif;
                font-size: 17px;
                color: rgb(41, 41, 41);
            }

            .more {
                margin: 2em auto;
                padding: 1em;
                width: 75%;
                text-align: center;
                background-color: rgb(89, 108, 203);
                border-radius: .5em;
                transition: transform ease .5s;

                p {
                    margin: 0;
                    font-size: 20px;
                    color: white;
                    font-weight: bold;
                }
            }
            .more:hover {
                transform: scale(1.1);
                cursor: pointer;
            }
        }
    }
}

.bg {
    margin: 0;
    padding: 0;
    position: relative;

    .mask {
        width: 100%;
        height: 150vh;
        background: rgb(12, 12, 12);
        mask-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/4/49/A_black_image.jpg/640px-A_black_image.jpg"), url("../images/glasses.png");
        mask-repeat: no-repeat;
        mask-size: 100%, 60%;
        mask-position: center 5%;
        mask-composite: subtract;
    }

    .text {
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -100%);
        text-align: center;
        margin: 0;
        z-index: 99;

        h2 {
            margin: 0;
            padding: -1em 0 0 0;
            font-family: 'Kanit', sans-serif;
            font-size: 45px;
            color: rgb(255, 132, 24);
        }

        p {
            margin: 0 5em;
            font-family: 'Kanit', sans-serif;
            font-size: 20px;
            color: rgb(212, 212, 212);
        }
    }

    .images {
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translate(-50%, 0%);
        text-align: center;
        margin: 0;
        z-index: 99;

        .image-container {
            max-width: 1000px;
            position: relative;
            margin: auto;

            .prev, .next {
                cursor: pointer;
                position: absolute;
                top: 50%;
                width: auto;
                margin-top: -22px;
                padding: 16px;
                color: white;
                font-weight: bold;
                font-size: 18px;
                transition: 0.6s ease;
                border-radius: 0 3px 3px 0;
                user-select: none;
            }

            .prev {
                left: 0;
                border-radius: 3px 0 0 3px;
            }

            .next {
                right: 0;
                border-radius: 3px 0 0 3px;
            }

            .prev:hover, .next:hover {
                background-color: rgba(0,0,0,0.8);
            }

            .mySlides {
                display: none;

                .numbertext {
                    font-family: 'Kanit', sans-serif;
                    color: #ffffff;
                    font-size: 15px;
                    padding: 8px 12px;
                    position: absolute;
                    top: 0;
                }
            }

            .fade {
                animation-name: fade;
                animation-duration: 2s;
            }

            @keyframes fade {
                from {opacity: 0}
                to {opacity: 1}
            }
        }

        .dot {
            cursor: pointer;
            height: 15px;
            width: 15px;
            margin: 0 2px;
            background-color: #bbb;
            border-radius: 50%;
            display: inline-block;
            transition: background-color 0.6s ease;
        }
          
        .active  {
            background-color: rgb(255, 132, 24);
        }

        .dot:hover {
            background-color: rgb(255, 209, 168);
        }
    }
}

.reveal {
    position: relative;
    opacity: 0;
}
  
.reveal.active {
    opacity: 1;
}

.active.fade-bottom {
    animation: fade-bottom 1s ease-in;
}

.active.fade-left {
    animation: fade-left .4s ease-in;
}

.active.fade-right {
    animation: fade-right .4s ease-in;
}

@keyframes fade-bottom {
    0% {
      transform: translateY(50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
}

@keyframes fade-left {
    0% {
      transform: translateX(-150px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
}
  
@keyframes fade-right {
    0% {
      transform: translateX(100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
}

footer {
    margin: 0;
    padding: 2em 1em;
    height: 500px;
    background: black;
}